<div class="container">
   <% visitor = notification.visiter %>
   <% visited = notification.visited %>
  <div class="row mt-5">
    <div class="col-md-12">
      <%# @notifications.each do |notification| %>
        <div class="col-md-8 mx-auto">
          <div class="form-inline">
            <%= attachment_image_tag visitor, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image_user.jpg", style: "border-radius:50%", class: "mr-1" %>
            <%= link_to  profile_user_path(visitor) do %>
              <strong class="text-primary"><%= visitor.name %></strong>
            <% end %>
            さんが
            <% case notification.action %>
              <% when 'like' then %>
              <strong class="text-primary"><%= link_to 'あなたの投稿', anime_path(visited) %></strong>にいいねしました
              <% when 'follow' then %>
              あなたをフォローしました
            <% end %>
          </div>
          <div class="text-right text-secondary">
            <small><%= time_ago_in_words(notification.created_at).upcase %></small>
          </div>
          <hr/>
          <%# end %>
        </div>
    </div>
  </div>
</div>