<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="page-title">
        <h2><%= current_user.name %>さんがフォローしているユーザーの一覧</h2>
      </div>
      <table class="table text-center">
        <thead>
          <tr>
            <th>ユーザー</th>
            <th>ニックネーム</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image_user.jpg", style: "border-radius:50%" %></td>
            <td>
              <%= link_to  profile_users_path(user) do %>
               <%= user.name %>
              <% end %>
            </td>
            <td>
              <% if user != current_user %>
                <% if user.is_followed_by?(current_user) %>
                  <%= link_to user_relationship_path(user), method: :delete do %>
                    <button class="btn btn-sm btn-danger">フォロー解除</button>
                  <% end %>
              <% else %>
                  <%= link_to user_relationship_path(user), method: :post do %>
                    <button class="btn btn-sm btn-primary">フォロー</button>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>