 <%= form_with model: anime, local: true do |f| %>
  <div class="form-group">
    <label for="title">タイトル</label>
      <%= f.text_field :title, autfoucus: true, placeholder: "アニメのタイトルを入力して下さい", class: "form-control" %>
  </div>

   <div class="form-group">
    <label for="thought">感想</label>
      <%= f.text_area :thought, placeholder: "感想や評価を入力して下さい", class: "form-control" %>
  </div>

   <div class="form-group">
    <label for="thought">画像</label>
      <%= f.attachment_field :anime_image %>
  </div>

  <div class="form-group">
    <%= f.submit "登録", class: "btn btn-primary btn-sm" %>
  </div>
 <% end %>