<div class="header sticky-top">
  <div class="row header-top">
    <div class="header-top-line"></div>
  </div>
   <div class="header-middle">
     <div class="header-middle-contents">
       <h1 class="text-center">Anime_thoughts</h1>
     </div>
   </div>
   <div class="header-bottom">
     <div class="header-bottom-line">
       <ul class="header-nav">
         <% if user_signed_in? %>
          <li>
            <%= link_to "Home", user_path(current_user), class: "nav-color" %>
          </li>
          <li>
            <%= link_to "Users", users_path, class: "nav-color" %>
          </li>
          <li>
            <%= link_to "Animes", animes_path, class: "nav-color" %>
          </li>
          <li>
            <%= link_to "Signout", destroy_user_session_path, method: :delete, data: { confirm: "サインアウトしますか？"}, class: "nav-color" %>
          </li>
         <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: "nav-color" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "nav-color" %>
          </li>
        <% end %>
       </ul>
     </div>
   </div>
 </div>