<div class="profile border border-info">
  <div class="profile-head bg-info">
    <div class="text-profile text-white"><i class="fas fa-user mr-2"></i>profile</div>
  </div>
<div class="text-center mt-3 mb-3 myprofile-user-image"><%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image_user.jpg" %></div>
<div class="profile-item text-center">
  <div id="name"><%= @user.name %></div>
  <%= link_to user_notifications_path(current_user) do %>
    <i class="far fa-bell">通知</i>
  <% end %>
  <% if unchecked_notifications.any? %>
    <i class="fa fa-circle notification-circle" style="color: gold;"></i>
  <% end %>
  <div class="mt-1 mb-1">生年月日:<span>&nbsp;<%= @user.birth_date %></span></div>
  <div class="mb-1">性別:<span>&nbsp;<%= @user.sex %></span></div>
</div>

<div class="row mt-3">
  <%= link_to  profile_users_path(@user.id), class: "btn btn-outline-info btn-inline btn-sm mx-auto" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>

<% if @user == current_user %>
    <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary  btn-sm mx-auto" do%>
      <i class= "fas fa-edit"></i>
    <% end %>
<% end %>
</div>
</div>

