<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 mx-auto bg-white border border-success rounded">
      <div class="edit-form py-4">
        <h2 class="text-center">投稿アニメ更新</h2>
        <%= form_with model: @anime, local: true do |f| %>
          <div class="form-group">
            <label for="anime-title">タイトル</label>
            <%= f.text_field :title, autofocus: true, class: "form-control" %>
          </div>
  
          <div class="form-group">
            <label for="anime-thought">感想</label>
            <%= f.text_area :thought, class: "form-control form-control-lg" %>
          </div>
  
          <div class="form-group">
            <%= f.attachment_field :anime_image %>
          </div><%= f. submit "更新", class: "btn btn-sm btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>